body
{
    display: flex;
    flex-direction: column;
}

main
{
    flex: 1 calc(100vh - 150px)
}

.simon-container
{
    position:absolute;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 80vw;
    height: 80vw;
    padding: 3%;
    margin-left: 1%;
    margin-right: 1%;
    aspect-ratio: 1 / 1;
    gap: 20px;
    border-radius: 50% 50% 50% 50%;
    background-color: black;
    box-sizing: border-box;
}

.controls
{
    position: absolute;
    background-color: black;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 50% 50% 50% 50%;
    padding: 5%;
}

.controls button
{
    width: 80%;
}

.center
{
    top: 50%;
    left: 50%;
    transform: translateX(-50%)
               translateY(-50%);
}

.button-top-left
{
    border-radius: 100% 0 0 0;
    background-color: green;
    border-color: darkgreen;
    grid-column: 1 / 3;
    grid-row:1 / 3;
}

.button-top-right
{
    border-radius: 0 100% 0 0;
    background-color: red;
    border-color: darkred;
    grid-column: 3 / 5;
    grid-row:1 / 3;
}

.button-bottom-left
{
    border-radius: 0 0 0 100%;
    background-color: yellow;
    border-color: #E3C20B;
    grid-column: 1 / 3;
    grid-row: 3 / 5;
}

.button-bottom-right
{
    border-radius: 0 0 100% 0;
    background-color: blue;
    border-color: darkblue;
    grid-column: 3 / 5;
    grid-row: 3 / 5;
}